<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout"
    data-platform-downloads data-hero-banner>
  <head>
    <title>Spring</title>
    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" content="spring.io" />
    <meta property="og:image" content="/img/spring-by-pivotal.png" />
    <meta property="og:description" content="Let's build a better Enterprise. Spring helps development teams everywhere
    build simple, portable, fast and flexible JVM-based systems and applications." />
  </head>
  <body>
<!--     <div layout:fragment="header-container"></div> -->
    <div layout:fragment="content"></div>
  </body>
</html>
